.stack{
    position: relative;
    width: 180px;
    height: 240px;
}
.card{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 180px;
    height: 240px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}
.c1{
    background: -moz-linear-gradient(135deg, #ff600f, #ff2d95);
    transform: rotate(-6deg);
    z-index: 1;
}
.c2{
     background: -moz-linear-gradient(135deg, #00c9ff, #92fe9d);
     transform: rotate(0deg);
    z-index: 2;
}
.c3{
     background: -moz-linear-gradient(135deg, #6a00ff, #00c9ff);
     transform: rotate(6deg);
    z-index: 3;
}
.stack:hover .c1{
    transform: translate(-90px, -30px) rotate(-18deg);
}
stack:hover .c2{
    transform: translate(0px, -55px) rotate(0deg);
}
.stack:hover .c3{
    transform: translate(90px, -30px) rotate(18deg);
}